/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 62.5%;
    max-width: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* Header Styles */
header{
    max-width: 100%;
    padding-bottom: 50 rem; 
    display: flex; 
    justify-content: center;
    align-items: center;

}
.navi{
    text-align: end;
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
    padding-right: 2.0rem;
}

#lambda-logo{
    padding-right: 10.8rem;
}

#road{
    margin-left:21.2rem;
    width: 46rem;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
    line-height: 4rem;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
/* Media Query mobile(500px) */
@media(max-width:500px){ 
header, body, footer{
    max-width: 800px;
}
#header-small{
    display: flex;
    flex-direction: column;
}

#lambda-logo{ 
     padding-right: 1.5rem;
}
.navi{
    font-size: 1.0rem;
    padding: right 0.1rem;
    text-align: center;
    line-height: 2.2rem;
}
#road{
    margin: 0;
    width:100%;
    padding-bottom: 2rem;
}
}
.top-content{
    display: flex;
    flex-direction: column;
    font-size: .98rem;
    width: 95%;
    padding-left: .5rem;
}
.text-container h2{
    line-height: 1.5rem;
}
.middle-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.middle-content h2{
    text-align: center;
}
.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle-content .boxes .box {
    width: 60.5%;
    height: 155px;
    background: black;
    margin: 20px 2.5%;
    color: white;
}
.bottom-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
}
.bottom-content h2, p{
    width: 95%;
}
footer nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
footer nav a{
    text-align: center;
    margin-left: 10rem;
}

/* Media Query for Tablet(800px)*/
@media(max-width:800px){
    #road{
        margin: 0;  
}
.middle-content h2{
    text-align: center;
}
.middle-content .boxes .box {
    width: 35.5%;
    height: 150px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
}  
}